*.a
*.o
*.pc
*.pyc
*.pyo
*.so
*.sw[a-z]
*~
*.obj
*.exe
*.ilk
*.pch
*.pdb
*.ncb
*.opt
*.plg
debug-arm
depend
depend.bak
lib
lib64
configure
autom4te.cache
aclocal.m4
config.log
config.status
cscope*
.scon*
config.py
.svn
build/
bin/
obj/
hiscore.dat
.quickstate.save

