*.a
*.o
*.pc
*.pyc
*.pyo
*.so
*.sw[a-z]
*~
*.obj
*.exe
*.ilk
*.pch
*.pdb
*.ncb
*.opt
*.plg
*.depend
*.layout
build/
bin/
obj/
work/
data/
[Dd]ebug/
[Rr]elease/
debug-arm
depend
depend.bak
lib
lib64
configure
autom4te.cache
aclocal.m4
config.log
config.status
cscope*
.scon*
config.py
.svn
hiscore.dat
.quickstate.save
.vscode
reword.layout
#reword
#rewordlist
